/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/artisan
/dump-20200827.sql
/dump-20200831.sql
/dump-20200907.sql
/dump-20200909.sql
/dump-20200913.sql
/storage/
/.settings
